SERVER_IP=0.0.0.0
GATEWAY_IP=0.0.0.1
WIFI_SSID=YOUR_SSID
WIFI_PASSWORD=YOUR_PASSWORD
ADMIN_USER=admin
TIMEZONE=America/Bogota
YOUR_DOMAIN=yourdomain.com
PLAYIT_TUNNEL=your-tunnel.tun.ply.gg
CRAFTY_PORT=8443
PORTAINER_PORT=9443
MC_JAVA_PORT=25565
MC_BEDROCK_PORT=19132
MC_RAM_MIN=1
MC_RAM_MAX=5

# Cloudflare Tunnel
TUNNEL_NAME=your-tunnel-name
TUNNEL_SUBDOMAIN=your-subdomain
TUNNEL_LOCAL_PORT=0000

# Playit.gg tunnels
PLAYIT_JAVA_HOST=your-tunnel.tun.ply.gg
PLAYIT_BEDROCK_HOST=your-bedrock-tunnel.tun.ply.gg
PLAYIT_BEDROCK_PORT=00000
